//表格
body {
  .el-table--enable-row-hover .el-table__body tr:hover>td{background-color:#f9f8e8}
  .el-table {
    font-size: 12px;
    .descending .sort-caret.descending {
      border-top-color: #5fd2b5;
    }
    .ascending .sort-caret.ascending {
      border-bottom-color: #5fd2b5;
    }
    .el-icon-time {
      color: #5fd2b5
    }

  } //input number
  .el-input-number {
    .el-input-number__decrease:hover,
    .el-input-number__increase:hover {
      color: #5fd2b5;
    }
    .el-input__inner:focus {
      border-color: #5fd2b5
    }
    .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
    .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
      border-color: #5fd2b5
    }
  }
}

//#5fd2b5  base-color
//#51d2b7  button-color
